# ignore repositories and images of boars
images/

build_zynq/linux-xlnx/
build_zynq/u-boot-xlnx/
build_zynq/device-tree-xlnx/
nvdla/hw/

dla_sw/models/
nvdla/sw/regression/
nvdla/sw/umd/out/
tutorial_board/
PYNQ/
pynq_z2/
